FAN_NORMAL_DATASET=C:\keltron project\6_dB_fan\fan\id_00\normal
FAN_ABNORMAL_DATASET=C:\keltron project\6_dB_fan\fan\id_00\abnormal
FAN_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
FAN_SAMPLE_RATE=22050
FAN_MIN_AUDIO_SECONDS=0.5
